[safe]
	directory = /storage/emulated/0/شعری باوکم/movie-app-main
	directory = /storage/emulated/0/PJA
	directory = /storage/emulated/0/PJA/ninja_engine_project/
[user]
	name = Skugiijb546vi
	email = sarko.akram333@gmail.com
